.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header h1{
    color: #72ae31;
    font-size: 40px;
}
.title{
    font-weight: 300;
    font-size: 25px;
    color: #fff;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.nav-icon{
    display: none;
}
.active-list{
    color: #fff;
    padding: 7px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    position: relative;
}
.active-list::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
    transform-origin: left;
}
.list{
    color: #fff;
    padding: 7px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    position: relative;
}
.list::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .23s;
}
.list:hover::after{
    transform: scaleX(1);
}
.login-btn{
    background: #72ae31;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 900;
    border-radius: 4px;
    margin-left: 3px;
    text-decoration: none;
    color: #fff;
    border: none;
    text-transform: uppercase;
}
.login-btn:hover{
    box-shadow: 0 0 10px 2px #72ae31;
}




/*---------------------------------------- Media Quary for responsive website ----------------------------------------*/
@media only screen and (max-width:668px) {
    .header h1{
        font-size: 20px;
    }
    .title{
        font-size: 15px;
    }
    .nav{
        display: grid;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 0px;
        background: #000;
        width: 150px;
        padding: 20px;
        transition: .5s;
    }
    .nav-bar{
        display: grid;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: -200px;
        background: #000;
        width: 150px;
        transition: .5s;
        margin-top: 5px;
    }
    .nav-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 25px;
        background: transparent;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 2px;
        padding: 3px;
    }
    .login-btn{
        margin-top: 5px;
    }
}
