.services{
    padding-right: 5%;
    padding-left: 5%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

/*------------------------------------------ Media Quary for website responsive ------------------------------------------*/
@media only screen and (max-width:668px) {
    .services{
        display: grid;
    }
}